@keyframes borderAnimation {
  0% {
    border-color: yellow;
    transform: translate(0, 0);
  }
  30% {
    border-color: red;
    transform: translate(0, 10%);
  }
  100% {
    border-color: yellow;
    transform: translate(0, 0);
  }
}

.card-style {
  width: 18rem;
  height: 8rem;
  padding: 5px;
  margin: 20px;
  background: #050801;
  color: #03e9f4;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  border: 2px solid;
  animation: borderAnimation 1s infinite;
  cursor: pointer;
}

.card-style :hover{
background: #03e9f4;
color: #050801;
box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 200px #03e9f4;
}

.plus-card-style {
  width: 18rem;
  height: 8rem;
  padding: 5px;
  margin: 20px;
  background-color: #050801;
  transition: 0.5s;
  border: 2px solid;
  animation: borderAnimation 1s infinite;
  cursor: pointer;
  background-image: url('../../assets/image/plus.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes plusAnimation {
  0% {
    transform: rotate(22.5deg);
  }
  25%{
    transform: rotate(112.5deg);
  }
  50% {
    transform: rotate(202.5deg);
  }
  75%{
    transform: rotate(292.5deg);
  }
  100% {
    transform: rotate(22.5deg);
  }
}

.plus-card-style:hover{
  background-color: rgba(5, 8, 1, 0);
  border: 0px;
  animation: plusAnimation 1s infinite;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #050801;
  color: #03e9f4;
  font-weight: bold;
}

.points {
  filter: hue-rotate(270deg);
}

.percentage {
  filter: hue-rotate(90deg);
}